<h1>Nope :(</h1>
<p class='lead'>You've completed {{format-duration model.hoursWorked}} hours out of planned {{format-duration
model.hoursScheduled}}. Lazy :/</p>
<p>You are {{format-duration model.hoursDiff}} behind the schedule!</p>
