<h1>Yep!</h1>
<p class='lead'>You've completed {{format-duration model.hoursWorked}} hours out of planned {{format-duration
model.hoursScheduled}}. Awesome!</p>
<p>You are {{format-duration model.hoursDiff}} ahead of the schedule!</p>
