<div class='container {{statusClass}}'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Can I go to the beach?</h2>
      <p class='lead'>I don't know yet. Plese put your API kay below so I can check it.</p>
    </div>
  </div>
      
  {{outlet}}
</div>

<div class='footer'>
  <div class='container'>
    <div class='text-center'>
      {{#link-to 'settings'}}Settings{{/link-to}}
    </div>
    <div>
      <p class='text-center'>Carefully crafted by <a href="https://github.com/martinciu" target='blank'>martinciu</a> and <a href="http://paulinagorecka.com" target='blank'>paulina</a></p>
    </div>
  </div>
</div>
