<div class='row {{bodyClass}}'>
  <div class='col-md-6 col-md-offset-6'>
    {{#if model.onTrack}}
      {{partial "toggl-summary/yep"}}
    {{else}}
      {{partial "toggl-summary/nope"}}
    {{/if}}
  </div>
</div>
